/* basic layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 75%;
    margin: 0.7em auto;
    font-family: 'Raleway', sans-serif;
}

.item{
    margin: 1%;
    /* numero brutto per centrare le box */
    width: 30.62%; 
    list-style: none;
    display: inline-block;
    margin-bottom: 30px;
}
/* products interactive photos */
.image-container{
     position: relative;
}

.first-img{
    width: 100%;
    position: absolute;
    left: 0;
}

.hidden-img{
    width: 100%;
    z-index: -1;
}

.image-container:hover img:nth-child(2){
    display: none;
}
/* custom checkbox */
.like{
    position: absolute;
    right: 30px;
    top: 3%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    background-color: white;
    font-size: 30px;
    width: 30px;
    height: 35px;
    text-align: center;
}

.like:hover input ~ .checkmark{
    cursor: pointer;
    color: gray;
    font-size: 40px;
    line-height: 35px;
}

.like input:checked ~ .checkmark{
    color: red;
}
/* label on photos */
.label{
    position: absolute;
    bottom: 20px;
    font-size: 0.8em;
    color: white;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label *{
    padding: 0.4em;
    text-align: center;
}

.discount{
    background-color: red;
}

.eco{
    background-color: green;
}
/* section and prices */
section{
    margin-top: 0.5em;
}

h2,p{
    font-size: 0.9em;
}

h2{
    text-transform: uppercase;
}

.price{
    font-weight: bold;
    color: red;
    font-size: 1em;
}

.price-old{
    text-decoration:line-through;
}